<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>拓线</title>


    <link href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/static/datetimepicker/css/bootstrap-datetimepicker.min.css' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="content">
            <div class="col-md-4 col-sm-6 col-xs-12 input">
                <div class="col-md-12 col-sm-12 col-xs-12 radio">
                    &nbsp;&nbsp;&nbsp;
                    {{range $k, $v := $.pl}}
                        <label>
                            <input type="radio" name="url" value="{{$k}}" checked=checked/>{{$v.Name}}
                        </label>
                    {{end}}
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 input">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <input class="form-control" type="text" id="startDate"
                                   data-date-format="yyyy-MM-dd 00:00:00" value="2018-01-01 00:00:00"/>
                        </label>
                        <label>
                            <input class="form-control" type="text" id="endDate" data-date-format="yyyy-MM-dd 00:00:00"
                                   value="2018-12-01 00:00:00"/>
                        </label>
                    </div>
                    <form class="form-inline col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="limit">查询条数：</label>
                            <input type="text" class="form-control" style="width:6em;" id="limit" placeholder="500">
                        </div>
                        <div class="form-group">
                            <label for="fastDate">快捷时间：</label>
                            <select id="fastDate" class="form-control">
                                <option value="3">最近三月</option>
                                <option value="6">最近半年</option>
                                <option value="1">最近一年</option>
                                <option value="2">最近两年</option>
                            </select>
                        </div>
                    </form>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <input type="button" onclick="submit()" class="found btn btn-default" value="查询"/>
                        </label>
                        <label>
                            <input type="button" onclick="expFull()" class="btn btn-default" value="导出"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12" style="height:100%;">
                <div class="col-md-12 col-sm-12 col-xs-12 radio" id="ptKey">
                    <textarea id="sendData" class="form-control" style="width: 100%; height:100px;"
                              placeholder="一行为一条数据"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div id="right" class="col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table id="result" class="table table-hover">
                <tr>
                    <td class="active">ID</td>
                    <td class="success">平台</td>
                    <td class="warning">查询数据</td>
                    <td class="danger">查询结果</td>
                    <td class="info">操作</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datetimepicker/js/moment.min.js"></script>
<script type="text/javascript" src="/static/datetimepicker/js/bootstrap-datetimepicker.js"></script>

<script>
    $(function () {
        nowDate = moment().subtract(5, 'seconds')
        startDate = moment().subtract(3, 'months')
        $("#startDate").attr("value", startDate.format("YYYY-MM-DD HH:mm:ss"))
        $("#endDate").attr("value", nowDate.format("YYYY-MM-DD HH:mm:ss"))

        $("#startDate").datetimepicker({
            language: 'cn',
            locale: moment.locale('cn'),
            format: 'yyyy-mm-dd 00:00:00',
            minView: "month",
            todayHighlight: 1,
            autoclose: true
        });
        $("#endDate").datetimepicker({
            language: 'cn',
            locale: moment.locale('cn'),
            format: 'yyyy-mm-dd 00:00:00',
            minView: "month",
            todayHighlight: 1,
            autoclose: true
        });
    })

    $("input[name=url]").click(addPtKey);
    var ptKey = [];
    ptKey["threatbook"] = {
        "hash": "文件Hash",
        "uri": "URl地址",
        "domain": "主机域名",
        "ip": "IP地址",
        "ip-reputation": "IP地址信誉查询",
        "mail": "Email地址"
    };
    ptKey["virustotal"] = {"hash": "文件Hash", "uri": "URl地址", "ip": "IP地址", "domain": "主机域名"};

    function addPtKey() {
        pt = $(this).attr("value")
        ptList = ptKey[pt]
        if (ptList == null) {
            alert("系统异常")
        }
        $(".ptKeys").remove()
        for (k in ptList) {
            var newRow = '<label class="ptKeys" style="font-weight:400;margin:0px 0px 0px 15px;"><input type="radio" name="type" value="' + k + '" />' + ptList[k] + '</label>';
            $("#ptKey").before(newRow);
        }
    }

    $("input[value=threatbook]").click();


    function submit() {
        send = $("#sendData").val();
        if ($.trim(send)) {
            $(".found").attr({"disabled": "disabled"});
            $(".found").val("正在查询...")
        } else {
            alert('请填写内容');
            return false;
        }
        $("#result tr:gt(0)").remove();
        pt = $("input[name='url']:checked").val()
        type = $("input[name=type]:checked").val()
        if (type == null) {
            alert("请选择查询类型.")
            clearDis()
            return
        }
        send = send.replace(/(\n)+/g, "\n")
        sendList = send.split("\n")

        startDate = $('#startDate')[0].value ? $('#startDate')[0].value : "2018-01-01 00:00:00"
        endDate = $('#endDate')[0].value ? $('#endDate')[0].value : "2018-12-30 00:00:00"
        if (pt == "tm") {
            startDate = startDate.replace(/-/g, '/');
            endDate = endDate.replace(/-/g, '/');

            var startDate = new Date(startDate).getTime();
            var endDate = new Date(startDate).getTime();
        }

        for (i in sendList) {
            PostResq(pt, type, sendList[i], startDate, endDate)
        }
        setTimeout(clearDis(), 3000)
    }

    function PostResq(pt, type, data, startDate, endDate) {
        data = data.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        var newRow = "<tr>\
    <td class='active'>" + ($("#result tr").length) + "</td>\
    <td class='success'>" + pt + "</td>\
    <td class='warning'>" + data + "</td>\
    <td class='danger' name='" + data + "'>正在查询...</td>\
    <td class='info' id='download" + data + "'></td>\
            </tr>";
        $("#result tr:last").after(newRow);

        var aJson = "<a href='/src/json/" + data + "-" + pt + ".json" + "'>查看数据<a>"
        $.ajax({
            type: "POST",
            url: "/q/" + pt + "/" + type,
            data: "data=" + data + "&startDate=" + startDate + "&endDate=" + endDate,
            success: function (rspdata) {
                if (rspdata != "") {
                    aCvs = "<a href='" + rspdata + "'>下载数据<a>"
                    $("#download" + data).append(aJson)
                    $("#download" + data).append("&nbsp;|&nbsp;")
                    $("#download" + data).append(aCvs)
                    $("td[name='" + data + "']").text("已完成")
                } else {
                    $("#download" + data).append(aJson)
                    $("td[name='" + data + "']").text("已完成")
                }
                clearDis()
            },
            error: function (err) {
                $("#download" + data).append(aJson)
                $("td[name='" + data + "']").text("查询出错" + err)
                clearDis()
            }
        });
    }

    function clearDis() {
        $(".found").val("查询")
        $(".found").removeAttr("disabled");
    };

    $("#fastDate").change(function () {
        fdate = $(this).val()
        nowDate = moment().subtract(5, 'seconds')
        startDate = ""
        switch (fdate) {
            case "1":
                startDate = moment().subtract(1, 'years')
                break;
            case "2":
                startDate = moment().subtract(2, 'years')
                break;
            case "3":
                startDate = moment().subtract(3, 'months')
                break;
            case "6":
                startDate = moment().subtract(6, 'months')
                break;
            default:
                alert('He He ! 😀')
                break;
        }
        $("#startDate").attr("value", startDate.format("YYYY-MM-DD HH:mm:ss"))
        $("#endDate").attr("value", nowDate.format("YYYY-MM-DD HH:mm:ss"))
    });

    $("#limit").change(function () {
        data = $(this).val()
        var patrn = /^(-)?\d+(\.\d+)?$/;
        if (patrn.exec(data) == null || data == "") {
            alert("请输入数字.")
            return false
        } else {
            $.ajax({
                type: "GET",
                url: "/set/limit",
                data: {data: data},
                success: function (rspdata) {
                    $("#limit").val(rspdata)
                },
                error: function (err) {
                    $("#limit").val(500)
                    alert("系统异常.")
                }
            });
        }
    })
</script>
</body>
</html>